<nav>
    <div class="h-14 w-full subnav uppercase font-bold text-lg">
        <a href="#intro">
            Introdução
        </a>

        <div>
            b
        </div>
    </div>
    <!-- Eye -->
    <div style="left: calc(50vw - 8rem); top:calc(40vh - 8rem);" class="absolute flex items-center justify-center bg-stone-700 h-64 w-64 rounded-full" id="eyeSocket">
        
        <img src="img/ME.jpg" class="w-11/12 h-11/12 object-cover rounded-full">
        
    </div>
    <!-- Menu -->
    <div class="h-32">
    </div>
</nav>